.profile__title {
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}

@media screen and (max-width: 768px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        width: 190px;
    }
}