.popup__redirect {
    display: block;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 15px 0 0;
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
    transition: opacity .2s ease .1s;
}

.popup__redirect:hover {
    opacity: .6;
}

@media screen and (max-width: 650px) {
    .popup__redirect {
        margin: 20px 0 40px;
    }
}